/* index.css solo estilos GLOBALES DE MI PÁGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
  }
